{% extends "base.html" %}
{% load staticfiles %}

{% block title %}403 ошибка{% endblock %}
{% block keywords %}403 ошибка{% endblock %}
{% block description %}403 ошибка{% endblock %}

{% block content %}
{% include "header.html" %}

<div class="wrapper-content animated fadeIn">
<div class="wrapper-only-predmets2">
<div class="wrapper-only-predmets"> 

	<h1 class="predmets">403 ошибка</h1>

  	<h2 style="margin-left:4.8vw;">У Вас недостаточно прав для просмотра данной страницы</h2>



</div>
</div>
</div>

{% include "footer.html" %}
{% endblock %}